<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <!-- Meta tags -->
    {{- partial "head-meta" . }}

    <!-- Link to self -->
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Favicon   -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ `favicon.ico` | absURL }}">

    <!-- Page title -->
    <title>{{ .Title | default .Site.Title }}</title>

    <!-- Stylesheets -->
    {{- partial "stylesheets" . }}
</head>
<body>
    <!-- Header -->
    <header class="container py-4 mb-4 text-center">
        {{- block "header" . }}{{- end }}
        <div class="d-flex flex-wrap justify-content-between align-items-center border-top border-bottom py-2">
            {{- partial "lang-switcher" . }}
            {{- partial "theme-switcher" . }}
        </div>
    </header>

    <!-- Main content -->
    <main class="container">
        {{- block "main" . }}
        {{- end }}
    </main>

    <!-- Scripts -->
    {{- partial "scripts" . }}
</body>
</html>
