<div class="d-flex flex-grow-1 justify-content-center">
    <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-translate me-1"></i>
            {{- .Language.LanguageName -}}
            <span class="border-start ms-2 ps-2">{{ .Language.Lang }}</span>
        </button>
        <ul class="dropdown-menu">
            <!-- Sort by weight (English is the only language having one so it'll always come first), then by code -->
            {{- range (sort (sort .AllTranslations "Weight") "Lang") }}
            <li>
                <a class="dropdown-item d-flex justify-content-between align-items-center{{ if eq $.Lang .Lang }} active{{ end }}" href="{{ .Permalink }}">
                    <span>{{ .Language.LanguageName }}</span>
                    <comentario-count error-text="" zero-text="" path="{{ .RelPermalink }}"></comentario-count>
                </a>
            </li>
            {{- end }}
        </ul>
    </div>
</div>
