<div class="d-flex flex-grow-1 justify-content-center fs-4">
    <label class="form-check-label" for="theme-switcher">
        <i class="me-1 bi bi-sun"></i>
    </label>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="theme-switcher" style="margin-left: -2.25em"
               title="{{ T `themeSwitch` }}">
    </div>
    <label class="form-check-label" for="theme-switcher">
        <i class="ms-1 bi bi-moon-stars-fill"></i>
    </label>
</div>
