{{- define "header" }}
<!-- Logo image -->
<div class="mb-3"><img src="/img/logo-800x200px.png" class="img-fluid" width="800" height="200" alt="Comentario"></div>

<!-- Heading -->
<h1 class="lead fw-bold">{{ .Params.heading }}</h1>
{{- end }}

{{- define "main" }}
<main class="container" id="content">
    {{ .Content }}
</main>
{{- end }}
