<div class="row justify-content-center mt-3 border-top">
    <div class="col-lg-9">
        <script defer src="https://edge.comentario.app/comentario.js"></script>
        <comentario-comments></comentario-comments>
    </div>
</div>
