<div class="d-grid d-sm-block gap-2">
    <a href="{{ .Site.Params.adminDashboardURL }}" class="btn btn-primary m-sm-1">{{ T "btnDashboard" }}</a>
    <a href="{{ .Site.Params.docsBaseURL }}/en/about/" target="_blank" class="btn btn-outline-primary m-sm-1">
        {{ T "btnAbout" }}
        <i class="ms-1 bi bi-box-arrow-up-right"></i>
    </a>
    <a href="{{ .Site.Params.docsBaseURL }}/en/getting-started/" target="_blank" class="btn btn-outline-primary m-sm-1">
        {{ T "btnGettingStarted" }}
        <i class="ms-1 bi bi-box-arrow-up-right"></i>
    </a>
</div>
